* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
  background: linear-gradient(to bottom, #010316, #1d1d63, #0b0e16);
  font-family: Arial, sans-serif;
}

.container {
  width: 100vw;
  height: 100vh;
  position: relative;
}

#starsCanvas {
  display: block;
  width: 100%;
  height: 100%;
}
