* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #607d8b;
}
.box {
  width: 100px;
  height: 100px;
  position: relative;
  transform-style: preserve-3d;
  animation: spin 2s infinite linear;
}
.box div {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #f44336;
  border-radius: 50%;
}
.box div:nth-child(1) {
  transform: rotateX(90deg);
}
.box div:nth-child(2) {
  transform: rotateY(90deg);
}
.box div:nth-child(3) {
  transform: rotateX(-90deg);
}
.box div:nth-child(4) {
  transform: rotateY(-90deg);
}
@keyframes spin {
  0% {
    transform: rotateX(0deg) rotateY(0deg);
  }
  100% {
    transform: rotateX(360deg) rotateY(360deg);
  }
}
