* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #607d8b;
}
.box {
  width: 200px;
  height: 300px;
  position: absolute;
  transform-style: preserve-3d;
  transform: perspective(10000px) rotateY(-45deg);
}
.box::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -180px;
  width: 100%;
  height: 150px;
  background: #0009;
  transform: rotateX(90deg);
  filter: blur(40px);
  opacity: 0.5;
}
.box div {
  position: absolute;
  transform-style: preserve-3d;
  inset: 0;
  animation: animate 5s linear infinite;
}
@keyframes animate {
  0% {
    transform: perspective(10000px) rotateX(0deg);
  }
  100% {
    transform: perspective(10000px) rotateX(359deg);
  }
}
.box div span {
  position: absolute;
  inset: 0;
  background: linear-gradient(0deg, #f00, #ff0, #0f0, #0ff, #00f, #f0f, #f00);
  border-radius: 20px;
  transform: rotateX(calc(var(--i) * 45deg));
  transform-style: preserve-3d;
}
